
.img1{
    border: 2px solid rgb(236, 187, 10);
    border-radius: 75px;
    padding: 5px;
    width: 200px;
  }
  .jjj{

    margin-left: 370px;
  }
  .edu{
   margin-left: 140px;

  }
  .mll{

   
  }
  .bbb{

    font-size: 70px;
    color:orange
  }
  
  .ccc{

    font-weight: 600;
    color: rgb(14, 218, 58)
  }
  
  .container{

    margin: 40px;
  }
  .exper{

    margin-left: 370px;
  }
  .ggg{
    margin-left: 240px;
  }
  .ooo{

    color:rgb(127, 203, 244)
  }
  .train{


    color: rgb(148, 199, 20);
    margin-right: 100px;
  }
  .contactInfo_language{

    margin-left: 370px;
  }
  .inter{

    margin-left: 220px;
  }
  ul{

    text-decoration: none;
  }
  ul li{
 list-style-type: none;
   
  }
  .pro{

    margin-left: 370px;
  }
  .mmm2{


    margin-left:50px ;
  }
